@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=cyrillic,cyrillic-ext,latin");
@import url("http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: "Open Sans", sans-serif; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-size: 15px; font-weight: 300; line-height: 1.4; }
body a { color: white; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }

.ico { display: inline-block; }
.ico.ico_f { background: url('../img/icons-s2cda85d865.png') 0 -1669px no-repeat; width: 37px; height: 37px; }
.ico.ico_tw { background: url('../img/icons-s2cda85d865.png') 0 -3915px no-repeat; width: 37px; height: 37px; }
.ico.ico_in { background: url('../img/icons-s2cda85d865.png') 0 -1807px no-repeat; width: 38px; height: 37px; }
.ico.ico_vk { background: url('../img/icons-s2cda85d865.png') 0 -3962px no-repeat; width: 37px; height: 37px; }
.ico.ico_part-1 { background: url('../img/icons-s2cda85d865.png') 0 -2035px no-repeat; width: 51px; height: 40px; }
.ico.ico_part-2 { background: url('../img/icons-s2cda85d865.png') 0 -2085px no-repeat; width: 61px; height: 42px; }
.ico.ico_part-3 { background: url('../img/icons-s2cda85d865.png') 0 -2137px no-repeat; width: 76px; height: 23px; }
.ico.ico_part-4 { background: url('../img/icons-s2cda85d865.png') 0 -2170px no-repeat; width: 74px; height: 64px; }
.ico.ico_part-5 { background: url('../img/icons-s2cda85d865.png') 0 -2244px no-repeat; width: 128px; height: 28px; }
.ico.ico_part-6 { background: url('../img/icons-s2cda85d865.png') 0 -2282px no-repeat; width: 158px; height: 30px; }
.ico.ico_part-7 { background: url('../img/icons-s2cda85d865.png') 0 -2322px no-repeat; width: 67px; height: 63px; }
.ico.ico_part-8 { background: url('../img/icons-s2cda85d865.png') 0 -2395px no-repeat; width: 70px; height: 39px; }
.ico.ico_inv-1 { background: url('../img/icons-s2cda85d865.png') 0 -1854px no-repeat; width: 198px; height: 51px; }
.ico.ico_inv-2 { background: url('../img/icons-s2cda85d865.png') 0 -1915px no-repeat; width: 206px; height: 42px; }
.ico.ico_action-1 { background: url('../img/icons-s2cda85d865.png') 0 -482px no-repeat; width: 60px; height: 58px; }
.ico.ico_action-2 { background: url('../img/icons-s2cda85d865.png') 0 -550px no-repeat; width: 60px; height: 58px; }
.ico.ico_action-3 { background: url('../img/icons-s2cda85d865.png') 0 -618px no-repeat; width: 60px; height: 47px; }
.ico.ico_action-4 { background: url('../img/icons-s2cda85d865.png') 0 -675px no-repeat; width: 60px; height: 44px; }
.ico.ico_app-1 { background: url('../img/icons-s2cda85d865.png') 0 -729px no-repeat; width: 84px; height: 84px; }
.ico.ico_app-2 { background: url('../img/icons-s2cda85d865.png') 0 -917px no-repeat; width: 84px; height: 84px; }
.ico.ico_app-3 { background: url('../img/icons-s2cda85d865.png') 0 -1011px no-repeat; width: 84px; height: 84px; }
.ico.ico_app-4 { background: url('../img/icons-s2cda85d865.png') 0 -1105px no-repeat; width: 84px; height: 84px; }
.ico.ico_app-5 { background: url('../img/icons-s2cda85d865.png') 0 -1199px no-repeat; width: 84px; height: 84px; }
.ico.ico_app-6 { background: url('../img/icons-s2cda85d865.png') 0 -1293px no-repeat; width: 84px; height: 84px; }
.ico.ico_app-7 { background: url('../img/icons-s2cda85d865.png') 0 -1387px no-repeat; width: 84px; height: 84px; }
.ico.ico_app-8 { background: url('../img/icons-s2cda85d865.png') 0 -1481px no-repeat; width: 84px; height: 84px; }
.ico.ico_app-9 { background: url('../img/icons-s2cda85d865.png') 0 -1575px no-repeat; width: 84px; height: 84px; }
.ico.ico_app-10 { background: url('../img/icons-s2cda85d865.png') 0 -823px no-repeat; width: 84px; height: 84px; }
.ico.ico_it-1 { background: url('../img/icons-s2cda85d865.png') 0 -1967px no-repeat; width: 60px; height: 58px; }
.ico.ico_brand-guide { background: url('../img/icons-s2cda85d865.png') 0 -357px no-repeat; width: 71px; height: 85px; }
.ico.ico_present { background: url('../img/icons-s2cda85d865.png') 0 -2912px no-repeat; width: 71px; height: 83px; }
.ico.ico_green-logo { background: url('../img/icons-s2cda85d865.png') 0 -1716px no-repeat; width: 80px; height: 81px; }
.ico.ico_prod { background: url('../img/icons-s2cda85d865.png') 0 -3005px no-repeat; width: 82px; height: 80px; }

.btn { position: relative; padding: 0 22px; height: 29px; line-height: 25px; color: white; letter-spacing: 0.1px; vertical-align: top; font-size: 15px; font-weight: 600; border-radius: 29px; border: 2px solid #f6f8fa; background-repeat: no-repeat; background-size: 200% 100%; background-position: 200% 0; display: inline-block; background-color: initial; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.btn:hover, .btn:focus, .btn:active, .btn:active:focus { outline: none; color: black; background-position: -200% 0; border-color: black; }
.btn.btn_black { color: black; border-color: black; }
.btn.btn_black:hover, .btn.btn_black:focus, .btn.btn_black:active, .btn.btn_black:active:focus { color: #0f98f2; border-color: #0f98f2; }
.btn.btn_green { height: 39px; color: white; line-height: 35px; border-radius: 39px; border-color: #77c632; background-color: #77c632; background-image: none; }
.btn.btn_green:hover, .btn.btn_green:focus, .btn.btn_green:active, .btn.btn_green:active:focus { color: white; border-color: #0f98f2; background: #0f98f2; }
.btn.btn_h-blue:hover, .btn.btn_h-blue:focus, .btn.btn_h-blue:active, .btn.btn_h-blue:active:focus { color: #0f98f2; border-color: #0f98f2; }
.btn.btn_min { min-width: 179px; }
.btn.btn_big { height: 39px; min-width: 175px; line-height: 35px; border-radius: 39px; }

button.btn { line-height: 1; }

.dotted { line-height: 1.1; border-bottom-width: 1px; border-style: dotted; background: none; vertical-align: middle; display: inline-block; }
.dotted:hover { border: none; }
.dotted.dotted_white { color: white; border-color: white; }

.blue { color: #0f98f2; }

.title { margin-bottom: 20px; font-size: 50px; font-weight: 600; line-height: 1; text-transform: uppercase; }

.title-small { margin-bottom: 8px; font-size: 28px; font-weight: 300; line-height: 30px; }

.title-middle { text-align: center; margin-bottom: 18px; font-size: 38px; font-weight: 300; line-height: 25px; }

.title-green { color: #75b725; font-size: 22px; text-align: center; font-weight: 700; line-height: 25px; }

.out { position: relative; padding-bottom: 94px; min-height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.header { height: 131px; color: white; background: url(../img/header-bg.png) no-repeat 50% 50%; background-size: cover; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.header a { -moz-transition: none; -o-transition: none; -webkit-transition: none; transition: none; }
.header a.btn { -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.header.header_home { position: absolute; top: 0; left: 0; width: 100%; height: 145px; z-index: 10; background: url(../img/header-opacity-bg.png) no-repeat 50% 95%; background-size: cover; }
.header.is-fixed { position: fixed; top: 0; left: 0; width: 100%; height: 66px; z-index: 99; -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16); -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16); box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16); background-image: -moz-linear-gradient(left, #8ec63f 40%, #439dbc 100%); background-image: -webkit-linear-gradient(left, #8ec63f 40%, #439dbc 100%); background-image: linear-gradient(to right, #8ec63f 40%, #439dbc 100%); background-attachment: fixed; }
.header.is-fixed .header__in { padding: 0 227px 0 139px; }
.header.is-fixed .search__btn { font-size: 0; }
.header.is-fixed .search__btn:before { position: absolute; top: -5px; left: -9px; }
.header.is-fixed .logo { top: 14px; background: url('../img/icons-s2cda85d865.png') 0 -4123px no-repeat; width: 126px; height: 39px; }
.header.is-fixed .lang { display: none; }
.header.is-fixed .btn, .header.is-fixed .search { position: absolute; top: 25px; right: 0; }
.header.is-fixed .btn.btn_black { position: relative; top: auto; }
.header.is-fixed .search { right: 192px; }
.header.is-fixed .header__top { float: left; margin-top: 13px; width: 190px; }
.header.is-fixed .header__info { font-size: 14px; font-weight: 300; margin: 0; }
.header.is-fixed .menu { margin: 25px 25px 0 0; float: right; }
.header.is-fixed .menu .menu__link { font-size: 17px; font-weight: 400; line-height: 25px; }
.header.is-fixed .menu .menu__item { margin-left: 35px; }
.header.is-fixed .menu .menu__item:first-child { margin: 0; }
.header .header__in { position: relative; padding: 10px 0 0 344px; *zoom: 1; }
.header .header__in:after { content: " "; display: table; clear: both; }
.header .header__top { *zoom: 1; }
.header .header__top:after { content: " "; display: table; clear: both; }
.header .header__info { margin: 2px 8px 0 0; font-size: 15px; font-weight: 600; }
.header .btn { float: right; }
.header .header__info, .header .lang, .header .search { vertical-align: top; display: inline-block; }

.logo { position: absolute; top: 19px; left: 3px; background: url('../img/icons-s2cda85d865.png') 0 -4031px no-repeat; width: 268px; height: 82px; }

.search { position: relative; margin-left: 45px; }
.search.is-active .search__input { width: 658px; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; visibility: visible; z-index: 2; }
.search.is-active .search__wrap, .search.is-active .search__btn { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.search.is-active .search__btn-bue, .search.is-active .search__sub { font-size: 15px; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }
.search .search__btn { position: relative; margin-top: 2px; padding-left: 25px; height: 20px; font-size: 15px; font-weight: 600; background: none; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }
.search .search__btn:before { position: absolute; content: ""; top: 0; left: 0; background: url('../img/icons-s2cda85d865.png') 0 -3125px no-repeat; width: 20px; height: 20px; }
.search .search__btn-bue { position: absolute; top: 5px; left: 5px; background: url('../img/icons-s2cda85d865.png') 0 -3095px no-repeat; width: 20px; height: 20px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.search .search__input { position: absolute; top: 0; right: 0; width: 0; overflow: hidden; z-index: -1; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.search .search__input input { padding: 0 75px 0 30px; width: 100%; height: 29px; color: black; border: 2px solid #0f98f2; border-radius: 29px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.search .search__sub { position: absolute; top: 2px; right: 2px; bottom: 2px; line-height: 25px; text-align: center; width: 71px; text-shadow: 0 0 30px rgba(13, 61, 108, 0.75); color: #0f98f2; font-family: "Open Sans"; font-size: 0; font-weight: 600; background: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.menu { margin-top: 40px; font-size: 0; }
.menu .menu__item { position: relative; margin-left: 56px; vertical-align: top; display: inline-block; }
.menu .menu__item:first-child { margin: 0; }
.menu .menu__item:hover .menu__block { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; z-index: 10; }
.menu .menu__item:hover .menu__link { color: #0f98f2; text-decoration: none; }
.menu .menu__link { font-size: 22px; font-weight: 700; line-height: 25px; color: white; -moz-transition: color 0.1s linear; -o-transition: color 0.1s linear; -webkit-transition: color 0.1s linear; transition: color 0.1s linear; }
.menu .menu__link:hover, .menu .menu__link.is-active { color: #0f98f2; text-decoration: none; }
.menu .menu__block { position: absolute; top: 100%; left: 0; padding-top: 17px; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; z-index: -1; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.menu .menu__block .commodity:first-child { padding-bottom: 0; }
.menu .menu__block .btn { font-size: 15px; font-weight: 600; }

.nav-menu { margin: 40px 0 30px; font-size: 0; text-align: center; }
.nav-menu.nav-menu_mod a { text-decoration: none; }
.nav-menu.nav-menu_mod a:hover { color: #0164a5; text-decoration: underline; }
.nav-menu.nav-menu_mod a.is-active { color: #0164a5; font-weight: 700; }
.nav-menu li { margin-left: 40px; vertical-align: top; display: inline-block; }
.nav-menu li:first-child { margin: 0; }
.nav-menu a { color: #0f98f2; font-size: 20px; font-weight: 300; line-height: 28px; text-decoration: underline; }
.nav-menu a:hover { text-decoration: none; }

.content { padding-bottom: 50px; font-size: 15px; font-weight: 300; line-height: 1.8; }
.content h1 { margin: 30px 0; }
.content h3 { margin: 20px 0; font-size: 38px; font-weight: 300; line-height: 35px; }
.content p { margin-top: 30px; }
.content a { color: #0f98f2; }
.content .item { margin-top: 26px; }
.content .video_small { margin-top: 35px; }

h1 { text-align: center; font-size: 66px; font-weight: 600; }

.pag { margin: 25px 0; font-size: 0; }
.pag li { vertical-align: top; display: inline-block; }
.pag a { width: 36px; height: 36px; line-height: 36px; text-align: center; color: black; font-size: 13px; font-weight: 400; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; display: block; }
.pag a:hover { color: #00aeff; text-decoration: underline; }
.pag .is-active { color: white; background-color: #77c632; }
.pag .is-active:hover { color: white; text-decoration: none; }
.pag .pag__next, .pag .pag__prev { margin-left: 20px; width: 12px; font-size: 42px; font-weight: 400; line-height: 22px; }
.pag .pag__next:hover, .pag .pag__prev:hover { text-decoration: none; }
.pag .pag__prev { margin: 0 20px 0 0; }

.cont { margin-top: 45px; }
.cont .cont__img { margin-bottom: 25px; }
.cont .cont__img img { display: block; }
.cont .cont__name { font-size: 30px; font-weight: 600; }
.cont .cont__mail { color: #0f98f2; font-size: 20px; font-weight: 300; }

.item { line-height: 1.8; *zoom: 1; }
.item:after { content: " "; display: table; clear: both; }
.item.item_mod { margin-top: 0; }
.item .item__in { margin-top: 5px; padding-right: 5px; display: block; *zoom: 1; }
.item .item__in:after { content: " "; display: table; clear: both; }
.item .item__in img, .item .item__in .ico { margin-right: 15px; }
.item img, .item .ico { float: left; margin: 4px 28px 0 0; }
.item .item__text { overflow: hidden; }
.item .item__title { font-size: 18px; font-weight: 600; line-height: 1.2; }
.item .date { font-weight: 700; }

.img { display: block; }
.img.img_bord { border: 3px solid #77c632; }

.lang { position: relative; top: -1px; }
.lang .lang__item { margin-left: 4px; vertical-align: top; display: inline-block; }
.lang .lang__item:first-child { margin: 0; }
.lang a { width: 30px; height: 30px; line-height: 30px; text-align: center; font-size: 14px; border-radius: 50%; display: block; }
.lang a:hover, .lang a.is-active { font-weight: 700; background: #90c73e; text-decoration: none; }

.commodity { position: relative; padding: 19px; width: 287px; font-size: 13px; -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16); -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16); box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16); background: white; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.commodity:before { position: absolute; content: ""; top: -6px; left: 67px; width: 0px; height: 0px; border-style: solid; border-width: 0 8px 8px 8px; border-color: transparent transparent white transparent; }
.commodity.commodity_disabled .commodity__title, .commodity.commodity_disabled .commodity__text, .commodity.commodity_disabled .commodity__option { color: #929292; }
.commodity .commodity__title { color: #0f98f2; font-size: 30px; line-height: 1; font-weight: 600; display: block; }
.commodity .commodity__text { margin: 4px 0; color: black; font-weight: 600; }
.commodity .commodity__option { margin-right: 7px; color: #0f98f2; font-weight: 400; font-size: 13px; }
.commodity .commodity__option:hover { text-decoration: underline; }
.commodity .commodity__inf { padding: 0 22px; height: 28px; color: white; font-size: 17px; font-weight: 400; line-height: 28px; background-color: #90c73e; vertical-align: top; display: inline-block; }
.commodity .commodity__row { margin-top: 10px; }
.commodity .btn { float: none; }

.slider { color: white; }
.slider .slider__slide { height: 629px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.slider .slider__slide.slider__slide_1 { background: url(../img/slide-1.png) no-repeat 50% 50%; background-size: cover; }
.slider .slider__slide.slider__slide_2 { background: url(http://lorempixel.com/1280/629/people) no-repeat 50% 50%; background-size: cover; }
.slider .slider__slide.slider__slide_3 { background: url(http://lorempixel.com/1280/629/food) no-repeat 50% 50%; background-size: cover; }
.slider .slider__slide.slider__slide_4 { background: url(http://lorempixel.com/1280/629/sports) no-repeat 50% 50%; background-size: cover; }
.slider .slider__slide.slider__slide_5 { background: url(http://lorempixel.com/1280/629/nature) no-repeat 50% 50%; background-size: cover; }
.slider .slider__slide.slider__slide_6 { background: url(http://lorempixel.com/1280/629/people) no-repeat 50% 50%; background-size: cover; }
.slider .slider__slide.slider__slide_7 { background: url(http://lorempixel.com/1280/629/sports) no-repeat 50% 50%; background-size: cover; }
.slider .slider__wrap { position: relative; margin: 0 auto; max-width: 1280px; height: 100%; }
.slider .slider__in { position: absolute; width: 620px; bottom: 0; right: 0; padding-bottom: 90px; font-size: 33px; }
.slider .slider__title { font-size: 50px; font-weight: 700; text-transform: uppercase; }
.slider .slider__text { width: 480px; }
.slider .slider__nav { position: absolute; left: 0; bottom: 13px; right: 0; z-index: 2; text-align: center; font-size: 20px; font-family: "Roboto", sans-serif; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
.slider .slider__nav .slick-dots, .slider .slider__nav .slider__nav-text { position: relative; vertical-align: top; display: inline-block !important; }
.slider .slider__nav-text { margin-right: 5px; }
.slider .slick-dots button { height: 30px; width: 30px; font-size: 20px; background: none; font-family: "Roboto", sans-serif; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.slider .slick-dots li { margin-right: 2px; }
.slider .slick-dots li:hover button, .slider .slick-dots li.slick-active button { background: #90c73e; }

.video { position: relative; height: 582px; }
.video.video_small { height: 327px; }
.video.video_small .picture:before { bottom: 50%; -moz-transform: translate(-50%, 50%); -ms-transform: translate(-50%, 50%); -webkit-transform: translate(-50%, 50%); transform: translate(-50%, 50%); background: url('../img/icons-s2cda85d865.png') 0 -2444px no-repeat; width: 140px; height: 140px; }

.picture { position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: white; font-size: 19px; cursor: pointer; background: url("../img/video-pic.png") no-repeat 50% 50%; background-size: cover; }
.picture:hover:before { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
.picture:before { position: absolute; content: ""; left: 50%; bottom: 60px; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; background: url('../img/icons-s2cda85d865.png') 0 -2594px no-repeat; width: 308px; height: 308px; }
.picture .picture__in { margin: 30px auto 0; text-align: center; max-width: 1045px; }
.picture .picture__title { margin-top: 65px; font-size: 40px; font-weight: 300; }

.devel { padding: 40px 0 30px; text-align: center; font-size: 20px; font-weight: 300; line-height: 28px; }

.tab { position: relative; margin-top: 25px; }
.tab.tab_mod .tab__cont { padding-top: 0; }
.tab.tab_mod .tab__in { margin: 0 auto; padding: 35px 0 60px; max-width: 796px; }
.tab .tab__topic { padding-top: 24px; height: 157px; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; background: url(../img/tab-nav-bg.png) repeat-x 0 0; }
.tab .tab__top { margin: 0 auto; max-width: 888px; }
.tab .tab__point { display: block; height: 10px; }
.tab .tab__point:first-child { margin-bottom: 17px; text-align: center; }
.tab .tab__point:first-child.is-active .tab__link:before { width: 41px; height: 110px; }
.tab .tab__point:nth-child(3) { margin-top: -18px; margin-bottom: 25px; text-align: right; }
.tab .tab__point:nth-child(4) { padding-right: 220px; text-align: right; }
.tab .tab__point:nth-child(4).is-active .tab__link:before { width: 30px; height: 68px; }
.tab .tab__point:last-child { padding-left: 220px; }
.tab .tab__point:last-child.is-active .tab__link:before { height: 60px; width: 28px; }
.tab .tab__point:nth-child(3).is-active .tab__link:before, .tab .tab__point:nth-child(5).is-active .tab__link:before { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.tab .tab__point.is-active .tab__link { color: #0e7ac0; font-weight: 700; border: none; }
.tab .tab__point.is-active .tab__link:before { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; z-index: 1; height: 95px; }
.tab .tab__point .tab__link { color: #0f98f2; font-weight: 400; font-size: 28px; line-height: 32px; border-bottom: 1px dotted #0f98f2; display: inline-block; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; transition: all 0.15s linear; }
.tab .tab__point .tab__link:hover, .tab .tab__point .tab__link:active, .tab .tab__point .tab__link:focus { text-decoration: none; border: none; }
.tab .tab__point .tab__link:before { position: absolute; content: ""; left: 50%; top: 100%; -moz-transform: translate(-50%, 4px); -ms-transform: translate(-50%, 4px); -webkit-transform: translate(-50%, 4px); transform: translate(-50%, 4px); background: url(../img/tab-link-active.png) no-repeat 0 0; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; z-index: -1; width: 36px; height: 0; background-size: 100% 100%; -moz-transition: height 0.15s linear; -o-transition: height 0.15s linear; -webkit-transition: height 0.15s linear; transition: height 0.15s linear; }
.tab .tab__list { position: absolute; left: 400px; top: 21px; font-size: 0; }
.tab .tab__item { margin-left: 12px; display: inline-block; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.tab .tab__item:first-child { margin: 0; }
.tab .tab__item:hover .tab__link, .tab .tab__item.is-active .tab__link { -moz-transform: translate(0, -10px); -ms-transform: translate(0, -10px); -webkit-transform: translate(0, -10px); transform: translate(0, -10px); }
.tab .tab__item:hover .tab__link .tab__shad, .tab .tab__item.is-active .tab__link .tab__shad { opacity: 1; width: 90%; }
.tab .tab__item:hover .tab__link_4, .tab .tab__item.is-active .tab__link_4 { background: url('../img/icons-s2cda85d865.png') 0 -3459px no-repeat; width: 67px; height: 66px; }
.tab .tab__link { position: relative; display: block; -moz-transition: all 0.12s linear; -o-transition: all 0.12s linear; -webkit-transition: all 0.12s linear; transition: all 0.12s linear; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.tab .tab__link .tab__shad { position: absolute; content: ""; bottom: -13px; left: 50%; height: 10px; width: 0; pointer-events: none; z-index: -1; opacity: 0; -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); background: -moz-radial-gradient(ellipse at center, rgba(15, 152, 242, 0.35) 0%, rgba(15, 152, 242, 0) 80%); background: -webkit-radial-gradient(ellipse at center, rgba(15, 152, 242, 0.35) 0%, rgba(15, 152, 242, 0) 80%); background: radial-gradient(ellipse at center, rgba(15, 152, 242, 0.35) 0%, rgba(15, 152, 242, 0) 80%); -moz-transition: all 0.12s linear; -o-transition: all 0.12s linear; -webkit-transition: all 0.12s linear; transition: all 0.12s linear; }
.tab .tab__link.tab__link_1 { background: url('../img/icons-s2cda85d865.png') 0 -3155px no-repeat; width: 67px; height: 66px; }
.tab .tab__link.tab__link_2 { background: url('../img/icons-s2cda85d865.png') 0 -3307px no-repeat; width: 67px; height: 66px; }
.tab .tab__link.tab__link_3 { background: url('../img/icons-s2cda85d865.png') 0 -3383px no-repeat; width: 67px; height: 66px; }
.tab .tab__link.tab__link_4 { background: url('../img/icons-s2cda85d865.png') 0 -3459px no-repeat; width: 67px; height: 66px; }
.tab .tab__link.tab__link_5 { background: url('../img/icons-s2cda85d865.png') 0 -3535px no-repeat; width: 67px; height: 66px; }
.tab .tab__link.tab__link_6 { background: url('../img/icons-s2cda85d865.png') 0 -3611px no-repeat; width: 67px; height: 66px; }
.tab .tab__link.tab__link_7 { background: url('../img/icons-s2cda85d865.png') 0 -3687px no-repeat; width: 67px; height: 66px; }
.tab .tab__link.tab__link_8 { background: url('../img/icons-s2cda85d865.png') 0 -3763px no-repeat; width: 67px; height: 66px; }
.tab .tab__link.tab__link_9 { background: url('../img/icons-s2cda85d865.png') 0 -3839px no-repeat; width: 67px; height: 66px; }
.tab .tab__link.tab__link_10 { background: url('../img/icons-s2cda85d865.png') 0 -3231px no-repeat; width: 67px; height: 66px; }
.tab .tab__cont { padding-top: 130px; text-align: left; font-size: 17px; font-weight: 300; line-height: 24px; display: none; *zoom: 1; }
.tab .tab__cont:after { content: " "; display: table; clear: both; }
.tab .tab__img { float: left; width: 400px; margin-top: -140px; }
.tab .tab__text { overflow: hidden; }
.tab .tab__title { margin-bottom: 22px; font-size: 38px; font-weight: 300; line-height: 1; }
.tab .tab__row { font-size: 0; *zoom: 1; }
.tab .tab__row:after { content: " "; display: table; clear: both; }
.tab .tab__col { width: 50%; font-size: 17px; vertical-align: top; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.tab .tab__col:first-child { padding-right: 70px; }
.tab .tags { float: left; margin-top: 20px; }
.tab .btn.btn_black { margin-top: 20px; float: right; }

.info { margin: 35px 0; *zoom: 1; }
.info:after { content: " "; display: table; clear: both; }

.news { padding: 19px 0 30px; color: white; background: url(../img/news-bg.png) no-repeat 50% 50%; background-size: cover; }
.news .row:first-child { margin-bottom: 33px; }
.news .row:first-child .btn { margin-left: 15px; }
.news img { margin-top: 6px; }
.news .date { margin-top: 20px; }
.news .date:first-child { margin: 0; }

.partners { padding: 35px 0; text-align: center; }
.partners .title-small, .partners .title-middle { margin-bottom: 25px; }
.partners .partners__list { width: 100%; display: table; }
.partners .partners__item { height: 60px; min-width: 90px; line-height: 60px; display: table-cell; }
.partners .ico { position: relative; vertical-align: middle; }
.partners .ico:hover { -moz-transform: scale(1.1); -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1); }
.partners .ico.ico_part-7 { bottom: -8px; }

.way { padding: 50px 0 20px; text-align: center; }

.leadership { padding: 40px 0 60px; color: white; background: url(../img/leadership-bg.png) no-repeat 50% 0; background-size: cover; }
.leadership .leadership__in { margin: 0 auto; width: 980px; }
.leadership .leadership__row { margin-top: 28px; font-size: 0; }
.leadership .title-green { margin-bottom: 25px; }
.leadership .title-middle { margin-bottom: 40px; }

.worker { margin-left: 2.2%; width: 18.2%; font-size: 13px; font-weight: 300; vertical-align: top; display: inline-block; }
.worker:first-child { margin: 0; }
.worker .worker__img { margin-bottom: 18px; }
.worker .worker__img img { display: block; width: 100%; }
.worker .worker__name { margin-bottom: 5px; font-size: 15px; font-weight: 700; }

.dis-center { text-align: center; padding: 65px 0 76px; }

.gall { margin-top: 25px; padding-bottom: 27px; overflow: hidden; height: 234px; }
.gall .gall__slide { float: left; }
.gall .slick-dots button { font-size: 0; width: 12px; height: 12px; background-color: #0f98f2; }
.gall .slick-dots li { margin-left: 8px; }
.gall .slick-dots li:first-child { margin: 0; }
.gall .slick-dots li.slick-active button { background-color: #90c73e; }

.offer { padding: 58px 0 69px; font-size: 20px; color: white; border: 5px solid #75b725; background: url(../img/offer-bg.png) no-repeat 50% 50%; background-size: cover; }
.offer .offer__in { margin: 0 auto; max-width: 980px; }
.offer .offer__title { font-size: 33px; font-weight: 300; }
.offer .btn { margin-top: 26px; }

.investors { padding: 53px 0 18px; line-height: 1.8; }
.investors .title-middle { margin-bottom: 64px; }
.investors img, .investors .ico { position: relative; margin-bottom: 35px; display: block; }
.investors img.ico_inv-1, .investors .ico.ico_inv-1 { margin-top: -9px; }
.investors p { padding-right: 75px; }

.actions { padding: 83px 0; }
.actions .title-middle { margin-bottom: 35px; }
.actions .title-middle .btn { position: relative; margin-left: 5px; bottom: -2px; }

.action { color: black; }
.action img, .action .ico { float: left; margin: 4px 28px 0 0; }
.action .action__right { overflow: hidden; }
.action .date { margin-bottom: 5px; color: black; }

.processor .processor__row { margin-top: 50px; }
.processor .processor__row .title-middle { text-align: left; }
.processor .processor__row .img_bord { margin-bottom: 42px; }
.processor .title-middle { margin: 40px 0 25px; }
.processor .processor__text { font-size: 24px; text-align: center; line-height: 32px; }

.application { *zoom: 1; }
.application:after { content: " "; display: table; clear: both; }
.application .title-middle { margin-bottom: 40px; }
.application .application__item { float: left; padding: 0 35px; min-height: 155px; width: 20%; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.application .ico { margin-bottom: 5px; }

.advantages { margin-top: 35px; padding: 50px 0; color: white; background: url(../img/advantages-bg.png) no-repeat 50% 50%; background-size: cover; }
.advantages .row { margin-top: 34px; }
.advantages .row:first-child { margin: 0; }
.advantages .title-small { font-weight: 600; line-height: 26px; }

.form.is-disabled .btn { display: none; }
.form .form__row { margin-top: 15px; }
.form .form__text { font-size: 20px; text-align: center; }
.form .form__inf { margin-top: 22px; }
.form .form__imp { margin: 8px 0 0 30px; vertical-align: top; display: inline-block; }
.form .radiobutton { margin: 4px 18px 0 0; }
.form label { font-weight: 300; }

input.error { border-color: red; }

input.error + label.error { display: none !important; }

.error-text { color: #ed1b24; font-size: 17px; font-weight: 600; text-align: center; display: none; }
.error-text.is-submit { color: #4bbe59; }

.input, .textarea { padding: 0 15px; height: 39px; width: 100%; border: 2px solid black; -moz-border-radius: 39px; -webkit-border-radius: 39px; border-radius: 39px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.input:-moz-placeholder, .input::-moz-placeholder, .textarea:-moz-placeholder, .textarea::-moz-placeholder { color: #adadad; opacity: 1; }
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder { color: #adadad; }
.input:focus:-ms-input-placeholder, .textarea:focus:-ms-input-placeholder { font-size: 0; }
.input:focus:-moz-placeholder, .textarea:focus:-moz-placeholder { font-size: 0; }
.input:focus::-moz-placeholder, .textarea:focus::-moz-placeholder { font-size: 0; }
.input:focus::-webkit-input-placeholder, .textarea:focus::-webkit-input-placeholder { font-size: 0; }
.input:focus::placeholder, .textarea:focus::placeholder { font-size: 0; }

.textarea { padding: 10px 15px; height: 139px; resize: none; -moz-border-radius: 18px; -webkit-border-radius: 18px; border-radius: 18px; }

.label { margin-bottom: 10px; padding: 0; color: black; font-size: 15px; text-align: left; font-weight: 300; display: block; }

.radiobutton { position: relative; font-size: 15px; font-weight: 300; cursor: pointer; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
.radiobutton input { position: absolute; top: 3px; left: 0; height: 19px; width: 19px; margin: 0; z-index: 5; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.radiobutton input:checked + span:after { display: block; }
.radiobutton span { position: relative; padding-left: 26px; }
.radiobutton span:before { position: absolute; content: ""; top: 3px; left: 0; height: 19px; width: 19px; border: 2px solid black; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.radiobutton span:after { position: absolute; content: ""; top: 7px; left: 4px; height: 11px; width: 11px; background: #90c73e; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; display: none; }

.checkbox { position: relative; font-size: 15px; font-weight: 300; cursor: pointer; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
.checkbox input { position: absolute; top: 1px; left: 0; height: 19px; width: 19px; margin: 0; z-index: 5; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.checkbox input:checked + .checkbox__text:after { display: block; }
.checkbox .checkbox__text { position: relative; padding-left: 24px; }
.checkbox .checkbox__text:before { position: absolute; content: ""; top: 1px; left: 0; height: 19px; width: 19px; border: 2px solid black; }
.checkbox .checkbox__text:after { position: absolute; content: ""; top: 5px; left: 3px; background: url('../img/icons-s2cda85d865.png') 0 0 no-repeat; width: 13px; height: 10px; display: none; }

.radiobutton input:disabled + .checkbox__text, .radiobutton input:disabled + span, .checkbox input:disabled + .checkbox__text, .checkbox input:disabled + span { color: darkgray; }
.radiobutton input:disabled + .checkbox__text .blue, .radiobutton input:disabled + span .blue, .checkbox input:disabled + .checkbox__text .blue, .checkbox input:disabled + span .blue { color: darkgray; }
.radiobutton input:disabled + .checkbox__text:before, .radiobutton input:disabled + span:before, .checkbox input:disabled + .checkbox__text:before, .checkbox input:disabled + span:before { border-color: darkgray; }
.radiobutton input:disabled + .checkbox__text:after, .radiobutton input:disabled + span:after, .checkbox input:disabled + .checkbox__text:after, .checkbox input:disabled + span:after { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; }

.prev { margin: 35px 0 45px; }
.prev a { font-size: 20px; font-weight: 700; }
.prev span { font-size: 37px; font-weight: 400; line-height: 20px; vertical-align: top; display: inline-block; }

.field { margin-top: 35px; }

.date { font-weight: 600; display: block; }

.text-smbold { font-weight: 600; }

.day-inf { position: absolute; left: 10px; right: 10px; padding: 10px; z-index: 50; border: 2px solid #90c73e; background: white; display: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.day-inf.is-chow { display: block; }

.list { margin-top: 2px; }
.list.blue li { color: #0f98f2; }
.list.blue li:before { background: #0f98f2; }
.list.blue li a { color: #0f98f2; }
.list.list_green li:before { top: 8px; background: #7ac814; }
.list li { margin-top: 5px; position: relative; padding-left: 9px; line-height: 1.4; }
.list li:first-child { margin: 0; }
.list li:before { position: absolute; content: ""; left: 0; top: 10px; height: 2px; width: 2px; background: black; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.tags .tags__text { margin-right: 5px; color: black; font-size: 20px; font-weight: 600; line-height: 24px; vertical-align: top; display: inline-block; }

.tag { margin-right: 10px; color: #0f98f2; font-size: 15px; font-weight: 400; line-height: 26px; vertical-align: top; display: inline-block; }

.contacts .contacts__row { margin-top: 10px; }
.contacts .contacts__row:first-child { margin: 0; }
.contacts .contacts__col { margin-left: 8px; vertical-align: top; font-weight: 600; font-size: 13px; display: inline-block; }
.contacts .contacts__col:first-child { margin: 0; }

.creator, .copy { font-weight: 300; }

.soc { font-size: 0; }
.soc .soc__item { margin-left: 9px; vertical-align: top; display: inline-block; }
.soc .soc__item:first-child { margin: 0; }

.address { padding-right: 27px; font-size: 11px; line-height: 1.2; }

.footer { position: relative; margin-top: -94px; padding-top: 20px; height: 94px; color: white; z-index: 1; background-image: -moz-linear-gradient(left, #8ec63f 30%, #439dbc 100%); background-image: -webkit-linear-gradient(left, #8ec63f 30%, #439dbc 100%); background-image: linear-gradient(to right, #8ec63f 30%, #439dbc 100%); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.footer .contacts { max-width: 680px; }
.footer .contacts .btn { top: -4px; }
.footer .soc { margin-left: 20px; max-width: 178px; }
.footer .address { margin-left: 20px; max-width: 280px; }
.footer .address .dotted { margin-top: 5px; }
.footer .contacts, .footer .soc, .footer .address { vertical-align: top; display: inline-block; }

.overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; background: rgba(0, 0, 0, 0.7); display: none; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: white; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; }
.slick-dots li.slick-active button { box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }

.datepicker { position: relative; padding: 15px; border: 3px solid #90c73e; }
.datepicker th, .datepicker td { text-align: center; font-size: 14px; font-weight: 400; }
.datepicker th { padding-bottom: 18px; color: #1e80d7; }
.datepicker td { height: 42px; }
.datepicker td a { margin: 4px; height: 34px; width: 34px; line-height: 30px; border: 2px solid transparent; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.datepicker td a:hover { border-color: #0f98f2; }
.datepicker a { color: #61676b; }
.datepicker a:hover { text-decoration: none; }
.datepicker td.event a { border-color: #0f98f2; }
.datepicker .datepicker__arr { position: absolute; display: none; z-index: 50; }
.datepicker .datepicker__arr:before { position: absolute; content: ""; top: 0; left: 15px; width: 0px; height: 0px; border-style: solid; border-width: 8px 4.5px 0 4.5px; border-color: #90c73e transparent transparent transparent; }
.datepicker .day-inf .date { margin-bottom: 5px; }
.datepicker .day-inf a { color: #0f98f2; }
.datepicker .day-inf a:hover { text-decoration: underline; }
.datepicker .ui-datepicker-header { position: relative; margin-bottom: 30px; padding: 0 35px; height: 35px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.datepicker .ui-datepicker-next, .datepicker .ui-datepicker-prev { position: absolute; top: 0; height: 35px; width: 35px; line-height: 38px; text-align: center; cursor: pointer; }
.datepicker .ui-datepicker-next .ui-icon, .datepicker .ui-datepicker-prev .ui-icon { font-size: 0; vertical-align: middle; display: inline-block; }
.datepicker .ui-datepicker-next { right: 0; }
.datepicker .ui-datepicker-next .ui-icon { background: url('../img/icons-s2cda85d865.png') 0 -4172px no-repeat; width: 7px; height: 12px; }
.datepicker .ui-datepicker-prev { left: 0; }
.datepicker .ui-datepicker-prev .ui-icon { background: url('../img/icons-s2cda85d865.png') 0 -4009px no-repeat; width: 7px; height: 12px; }
.datepicker .ui-datepicker-title { height: 35px; line-height: 35px; text-align: center; }
.datepicker .ui-datepicker-title span { color: #1e80d7; font-size: 19px; font-weight: 400; }
.datepicker .ui-datepicker-other-month a, .datepicker .ui-datepicker-other-month .ui-state-default { color: #a7acaf; cursor: text; }
.datepicker .ui-datepicker-other-month a:hover, .datepicker .ui-datepicker-other-month .ui-state-default:hover { border-color: transparent; }
.datepicker .ui-datepicker-unselectable.ui-state-disabled, .datepicker .ui-datepicker-unselectable { color: #a7acaf; }
.datepicker .ui-datepicker-today a, .datepicker .ui-datepicker-today .ui-state-default { color: white; font-weight: 700; background-color: #77c632; }
.datepicker .ui-datepicker-today a:hover, .datepicker .ui-datepicker-today .ui-state-default:hover { border-color: transparent; }
.datepicker .ui-datepicker-unselectable a { border-color: #0f98f2; }
