// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=cyrillic,cyrillic-ext,latin")
@import url("http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext")

=rob
	font-family: 'Roboto', sans-serif
	font-weight: 400
	+font-smoothing(antialiased)

// first element
=first
	&:first-child
		margin: 0

// dashed mix
=dotted($bd-color)
	color: $bd-color
	border-color: $bd-color

body
	font-family: 'Open Sans', sans-serif
	+font-smoothing(antialiased)
	font-size: 15px
	font-weight: 300
	line-height: 1.4
	+r(1219)
		font-size: 14px
	&.is-home
		.out
			padding-top: 0
			+r(991)
				padding-top: 83px
			+r(468)
				padding-top: 80px
			+r(410)
				padding-top: 68px
	&.is-error-page
		color: #fff
		background: #000
		.footer
			background: none
		.header
			background: #000
		.search
			margin-left: 0
			&.is-active 
				.search__input
					width: 100%
			.search__input
				left: 0
				right: auto
			.search__btn
				&:before
					top: 3px
		.btn
			&:hover,
			&:focus,
			&:active,
			&:active:focus
				color: #0f98f2
				border-color: #0f98f2
		.content
			margin-bottom: 30px
			min-height: 485px
			background: url(../img/error-bg.png) no-repeat 100% 0
			background-size: auto 100%
			+r(1219)
				background-size: 100% 100%
			+r(991)
				text-align: center

	a
		color: #fff
		+transition(all .1s linear)
		&:focus,
		&:visited
			text-decoration: none

// icons
.ico
	display: inline-block
	&.ico_f
		+s(ico-f)
	&.ico_tw
		+s(ico-tw)
	&.ico_in
		+s(ico-in)
	&.ico_vk
		+s(ico-vk)
	&.ico_part-1
		+s(ico-part-1)
	&.ico_part-2
		+s(ico-part-2)
	&.ico_part-3
		+s(ico-part-3)
	&.ico_part-4
		+s(ico-part-4)
	&.ico_part-5
		+s(ico-part-5)
	&.ico_part-6
		+s(ico-part-6)
	&.ico_part-7
		+s(ico-part-7)
	&.ico_part-8
		+s(ico-part-8)
	&.ico_inv-1
		+s(ico-inv-1)
	&.ico_inv-2
		+s(ico-inv-2)
	&.ico_action-1
		+s(ico-action-1)
	&.ico_action-2
		+s(ico-action-2)
	&.ico_action-3
		+s(ico-action-3)
	&.ico_action-4
		+s(ico-action-4)
	&.ico_app-1
		+s(ico-app-1)
	&.ico_app-2
		+s(ico-app-2)
	&.ico_app-3
		+s(ico-app-3)
	&.ico_app-4
		+s(ico-app-4)
	&.ico_app-5
		+s(ico-app-5)
	&.ico_app-6
		+s(ico-app-6)
	&.ico_app-7
		+s(ico-app-7)
	&.ico_app-8
		+s(ico-app-8)
	&.ico_app-9
		+s(ico-app-9)
	&.ico_app-10
		+s(ico-app-10)
	&.ico_it-1
		+s(ico-it-1)
	&.ico_brand-guide
		+s(brand-guide)
	&.ico_present
		+s(ico-present)
	&.ico_green-logo
		+s(ico-green-logo)
	&.ico_prod
		+s(ico-prod)
	&.ico_archive
		+s(ico-archive)
	&.ico_adobe
		+s(ico-adobe)
	&.ico_doc
		+s(ico-doc)
	&.ico_wifi
		+s(ico-wifi)
	&.ico_desct
		+s(ico-desct)
	&.ico_flesh
		+s(ico-flesh)
	&.ico_ed
		+s(ico-ed)
	&.ico_categ-1
		+s(ico-categ-1)
	&.ico_categ-2
		+s(ico-categ-2)
	&.ico_categ-3
		+s(ico-categ-3)
	&.ico_categ-4
		+s(ico-categ-4)
	&.ico_categ-5
		+s(ico-categ-5)
	&.ico_categ-6
		+s(ico-categ-6)
	&.ico_categ-7
		+s(ico-categ-7)
	&.ico_categ-8
		+s(ico-categ-8)
	&.ico_categ-9
		+s(ico-categ-9)
	&.ico_categ-10
		+s(ico-categ-10)

// buttons
.btn
	position: relative
	padding: 0 22px
	height: 29px
	line-height: 25px
	color: #fff
	letter-spacing: 0.1px
	vertical-align: top
	font-size: 15px
	font-weight: 600
	border-radius: 29px
	border: 2px solid #f6f8fa
	background-repeat: no-repeat
	background-size: 200% 100%
	background-position: 200% 0
	display: inline-block
	background-color: transparent
	+transition(all .2s linear)
	+box
	&:hover,
	&:focus,
	&:active,
	&:active:focus
		outline: none
		color: #000
		background-position: -200% 0
		border-color: #000
	+r(767)
		padding: 0 20px
		font-size: 14px
	+r(460)
		padding: 0 15px
	&.btn_black
		color: #000
		border-color: #000
		&:hover,
		&:focus,
		&:active,
		&:active:focus
			color: #0f98f2
			border-color: #0f98f2
	&.btn_green
		height: 39px
		color: #fff
		line-height: 35px
		border-radius: 39px
		border-color: #77c632
		background-color: #77c632
		+background-image(none)
		&:hover,
		&:focus,
		&:active,
		&:active:focus
			color: #fff
			border-color: #0f98f2
			background: #0f98f2
	&.btn_h-blue
		&:hover,
		&:focus,
		&:active,
		&:active:focus
			color: #0f98f2
			border-color: #0f98f2
	&.btn_min
		min-width: 179px
		+r(1219)
			min-width: inherit
	&.btn_big
		height: 39px
		min-width: 175px
		line-height: 35px
		border-radius: 39px
		+r(765)
			min-width: 165px
			height: 35px
			line-height: 31px
			border-radius: 35px
	&.btn_offset
		margin-left: 22px
		+first
		+r(516)
			margin: 20px auto 0
			display: block
button.btn
	line-height: 1

// dashed
.dotted
	line-height: 1.1
	border-bottom-width: 1px
	border-style: dotted
	background: none
	vertical-align: middle
	display: inline-block
	&.dotted_white
		+dotted(#fff)
	&.dotted_big
		font-size: 18px
		font-weight: 600
		border-bottom-width: 2px
		+r(1219)
			font-size: 15px
		+r(459)
			font-size: 9px
	&:hover
		border-color: transparent

// blue
.blue
	color: #0f98f2

// title
.title
	margin-bottom: 20px
	font-size: 50px
	font-weight: 600
	line-height: 1
	text-transform: uppercase
	+r(767)
		font-size: 40px
	+r(600)
		font-size: 30px
	+r(459)
		font-size: 20px

.title-small
	margin-bottom: 8px
	font-size: 28px
	font-weight: 300
	line-height: 30px
	+r(1219)
		font-size: 24px
	+r(767)
		font-size: 22px
		line-height: 25px
	+r(459)
		font-size: 20px

.title-middle
	text-align: center
	margin-bottom: 18px
	font-size: 38px
	font-weight: 300
	line-height: 25px
	+r(1219)
		font-size: 32px
	+r(991)
		font-size: 28px
	+r(459)
		font-size: 20px

.title-green
	color: #75b725
	font-size: 22px
	text-align: center
	font-weight: 700
	line-height: 25px

// common blocks      

.out
	position: relative
	padding-top: 131px
	padding-bottom: 94px
	min-height: 100%
	+box
	+r(1219)
		padding: 90px 0 0
	+r(991)
		padding-top: 83px
	+r(468)
		padding-top: 80px
	+r(410)
		padding-top: 68px

// header
.header
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 131px
	z-index: 99
	color: #fff
	// background: url(../img/header-bg.png) no-repeat 50% 50% 
	background-size: cover
	+background-image(linear-gradient(left, #8ec63f 40%, #439dbc 100%))
	+box
	a
		+transition(none)
		&.btn
			+transition(all .2s linear)
	+r(1219)
		height: auto
	&.header_home
		height: 145px
		background: url(../img/header-opacity-bg.png) no-repeat 50% 95%
		background-size: cover
		+r(1219)
			height: auto
		+r(991)
			+background-image(linear-gradient(left, #8ec63f 40%, #439dbc 100%))
	&.is-fixed
		position: fixed
		height: 66px
		+box-shadow(0 5px 5px rgba(0, 0, 0, 0.16))
		+background-image(linear-gradient(left, #8ec63f 40%, #439dbc 100%))
		background-attachment: fixed
		+r(1219)
			height: auto
		.header__in
			padding: 0 227px 0 139px
			+r(1219)
				padding: 10px 227px 10px 139px
			+r(991)
				padding: 20px 55px 20px 139px
			+r(520)
				padding: 15px 55px 15px 139px
		.search__btn
			font-size: 0
			&:before
				position: absolute
				top: -5px
				left: -9px
		.logo
			top: 14px
			+s(logo-small)
			+r(1219)
				top: 30px
			+r(991)
				top: 10px
		.lang
			display: none
		.btn,
		.search
			position: absolute
			top: 25px
			right: 0
			+r(1219)
				top: 14px
		.btn.btn_black
			position: relative
			top: auto
		.search
			right: 192px
		.header__top
			float: left
			margin-top: 13px
			width: 190px
			+r(1219)
				margin-top: 0
				width: 100%
				text-align: center
		.header__info
			font-size: 14px
			font-weight: 300
			margin: 0
			+r(565)
				font-size: 12px
			+r(374)
				height: 32px
				font-size: 0
		.menu
			margin: 25px 25px 0 0
			float: right
			+r(1219)
				margin-top: 0
			.menu__link
				font-size: 17px
				font-weight: 400
				line-height: 25px
			.menu__item
				margin-left: 35px
				+first
				+r(1219)
					margin-left: 20px
		.menu-btn
			+r(991)
				top: 12px
	.header__in
		position: relative
		padding: 10px 0 0 344px
		+clr
		+r(1219)
			padding: 15px 0 15px 150px
		+r(991)
			padding: 15px 55px 15px 140px
		+r(767)
			padding: 2px 15px 25px
	.header__top
		+clr
		+r(991)
			text-align: center
	.header__info
		margin: 2px 8px 0 0
		font-size: 15px
		font-weight: 600
		vertical-align: top
		display: inline-block
		+r(991)
			display: block
		+r(767)
			margin: 0 0 5px
		+r(467)
			font-size: 13px
		+r(410)
			font-size: 0
	.btn
		float: right
	.lang,
	.search
		vertical-align: top
		display: inline-block
	.btn,
	.search
		+r(991)
			display: none

// logo
.logo
	position: absolute
	top: 19px
	left: 3px
	+s(logo-big)
	+r(1219)
		top: 50%
		+translate(0, -50%)
		+s(logo-small)
	+r(991)
		top: 20px
		+translate(0, 0)
	+r(767)
		top: 25px
	+r(410)
		top: 15px

// search
.search
	position: relative
	margin-left: 45px
	+r(1219)
		margin-left: 8px
	&.is-active
		.search__input
			width: 658px
			+opacity(1)
			visibility: visible
			z-index: 2
			+r(1219)
				width: 595px
		.search__wrap,
		.search__btn
			+opacity(0)
		.search__btn-bue,
		.search__sub
			font-size: 15px
			+opacity(1)
			+transition(all .3s linear)
	.search__btn
		position: relative
		margin-top: 2px
		padding-left: 25px
		height: 20px
		font-size: 15px
		font-weight: 600
		background: none
		+transition(all .3s linear)
		&:before
			position: absolute
			content: ''
			top: 0
			left: 0
			+s(ico-search-white)
	.search__btn-bue
		position: absolute
		top: 5px
		left: 5px
		+s(ico-search-blue)
		+opacity(0)
	.search__input
		position: absolute
		top: 0
		right: 0
		width: 0
		overflow: hidden
		z-index: -1
		visibility: hidden
		+opacity(0)
		+transition(all .2s linear)
		input
			padding: 0 75px 0 30px
			width: 100%
			height: 29px
			color: #000
			border: 2px solid #0f98f2
			border-radius: 29px
			+box
	.search__sub
		position: absolute
		top: 2px
		right: 2px
		bottom: 2px
		line-height: 25px
		text-align: center
		width: 71px
		text-shadow: 0 0 30px rgba(13, 61, 108, 0.75)
		color: #0f98f2
		font-family: "Open Sans"
		font-size: 0
		font-weight: 600
		background: none
		+opacity(0)

// search-download
.search-download
	margin-top: 10px

// search-item
.search-item
	margin-top: 30px
	.search-item__title
		display: block
	.changed,
	.path,
	.path a
		color: #999
		font-size: 13px

// menu
.menu
	margin-top: 40px
	font-size: 0
	&.is-active
		display: block
	+r(1219)
		margin-top: 5px
	+r(991)
		margin: 0 -40px 0 -140px
		display: none
	+r(767)
		margin: 20px 0 0
	.menu__item
		position: relative
		margin-left: 56px
		vertical-align: top
		display: inline-block
		+first
		&:hover
			& > a
				color: #0063a4
		+r(1219)
			margin-left: 20px
		+r(991)
			margin: 5px 0 0
			text-align: right
			display: block
	.menu__link
		font-size: 22px
		font-weight: 700
		line-height: 25px
		color: #fff
		+transition(color .1s linear)
		&:hover,
		&.is-active
			color: #0063a4
			text-decoration: none
		+r(1219)
			font-size: 19px
	.menu__block
		position: absolute
		top: 100%
		left: 0
		padding-top: 17px
		visibility: hidden
		+opacity(0)
		z-index: -1
		+transition(all .1s linear)
		&.is-active
			visibility: visible
			+opacity(1)
			z-index: 10
			height: auto
			overflow: visible
			+r(991)
				margin-top: 8px
		+r(991)
			position: relative
			padding-top: 0
			height: 0
			overflow: hidden
			width: 100%
			&:before
				position: absolute
				content: ''
				top: -6px
				right: 20px
				+arr(16,8,#fff,t)
		.commodity
			+r(991)
				width: 100%
				&:before
					display: none
			&:first-child
				padding-bottom: 0
		.btn
			font-size: 15px
			font-weight: 600

// menu-btn
.menu-btn
	position: absolute
	top: 23px
	right: 15px
	+svg(menu, 30, 35)
	display: none
	+r(991)
		display: block
	+r(767)
		top: 25px
	+r(410)
		top: 17px

// nac-menu
.nav-menu
	margin: 40px 0 30px
	font-size: 0
	text-align: center
	+r(768)
		margin: 20px 0 15px
	li
		margin-left: 40px
		vertical-align: top
		display: inline-block
		+first
		+r(768)
			margin-left: 20px
		+r(600)
			margin: 5px 0 0
			display: block
	a
		color: #0f98f2
		font-size: 20px
		font-weight: 300
		line-height: 28px
		text-decoration: none
		&:hover
			color: #0164a5
		&.is-active
			color: #0164a5
			font-weight: 700
		+r(768)
			font-size: 18px

// content
.content
	padding-bottom: 50px
	font-size: 15px
	font-weight: 300
	line-height: 1.8
	+r(767)
		padding-bottom: 30px
		font-size: 14px
	h1
		margin: 30px 0
		+r(767)
			margin: 20px 0
	h2
		margin: 15px 0
		font-size: 28px
		font-weight: 300
		line-height: 35px
		+r(767)
			text-align: center
	h3
		margin: 20px 0
		font-size: 38px
		font-weight: 300
		line-height: 35px
		+r(767)
			text-align: center
	p
		margin-top: 30px
		+r(992)
			margin-top: 20px
	a
		color: #0f98f2
	.item
		margin-top: 26px
		+r(991)
			min-height: 90px
	.video_small
		margin-top: 35px
		+r(992)
			margin-top: 0
	.table-wrap
		margin-top: 80px
		+r(991)
			margin-top: 40px
	.prev, .next
		margin-bottom: 0
		span
			line-height: 27px
	.btn
		color: #fff
		&:hover,
			&:focus,
			&:active,
			&:active:focus
				color: #000
		&.btn_black
			color: #000
		&.btn_green
			color: #fff
			&:hover,
			&:focus,
			&:active,
			&:active:focus
				color: #fff
		&.btn_h-blue
			&:hover,
			&:focus,
			&:active,
			&:active:focus
				color: #0f98f2
	.data
		+r(767)
			text-align: center

// h1
h1
	text-align: center
	font-size: 66px
	font-weight: 600
	+r(1219)
		font-size: 56px
	+r(992)
		font-size: 46px
	+r(992)
		font-size: 36px
	+r(767)
		font-size: 30px
	+r(460)
		font-size: 20px

// table-wrap
.table-wrap
	overflow: auto
	margin-bottom: 20px

// table
.table
	margin-bottom: 0
	tr
		td,th
			&:first-child
				width: 300px
				text-align: center
			&:nth-child(2)
				width: 500px
			&:nth-child(3)
				width: 200px
			+r(1219)
				&:first-child,
				&:nth-child(2),
				&:nth-child(3)
					width: auto
		th
			height: 51px
			line-height: 51px
			font-size: 18px
			font-weight: 600
			background-color: #eef0f1
			a
				position: relative
				padding-right: 20px
				font-size: 18px
				font-weight: 600
				line-height: 1.4
				color: #000
				&:hover
					text-decoration: underline
				&:before
					position: absolute
					content: ''
					right: 0
					top: 50%
					margin-top: -5px
					+arr(11,11,#77c632,t)
				&.is-choose
					&:before
						+rotate(180)
		td
			height: 63px
			line-height: 63px
			font-size: 13px
			font-weight: 600
			border-bottom: 2px solid #eef0f1
			a
				color: #0f98f2
			.ico
				line-height: 1
				vertical-align: middle

// pagination
.pag
	margin: 25px 0
	font-size: 0
	+r(767)
		text-align: center
	li
		vertical-align: top
		display: inline-block
	a
		width: 36px
		height: 36px
		line-height: 36px
		text-align: center
		color: #000
		font-size: 13px
		font-weight: 400
		+border-radius(50%)
		display: block
		&:hover
			color: #00aeff
			text-decoration: underline
	.is-active
		color: #fff
		background-color: #77c632
		&:hover
			color: #fff
			text-decoration: none
	.pag__next,
	.pag__prev
		margin-left: 20px
		width: 12px
		font-size: 42px
		font-weight: 400
		line-height: 22px
		&:hover
			text-decoration: none
	.pag__prev
		margin: 0 20px 0 0

.cont
	margin-top: 45px
	+r(767)
		text-align: center
	.cont__img
		margin-bottom: 25px
		img
			display: block
		+r(767)
			display: inline-block
	.cont__name
		font-size: 30px
		font-weight: 600
	.cont__mail
		color: #0f98f2
		font-size: 20px
		font-weight: 300

// item
.item
	line-height: 1.8
	+clr
	&.item_mod
		margin-top: 0
	.item__in
		margin-top: 5px
		padding-right: 5px
		display: block
		+clr
		img,
		.ico
			margin-right: 15px
	img,
	.ico
		float: left
		margin: 4px 28px 0 0
	.item__text
		overflow: hidden
	.item__title
		font-size: 18px
		font-weight: 600
		line-height: 1.2
	.date
		font-weight: 700

// img
.img
	display: block
	max-width: 100%
	&.img_bord
		border: 3px solid #77c632
	+r(767)
		margin-top: 10px

// lang
.lang
	position: relative
	top: -1px
	+r(991)
		top: 3px
	+r(767)
		margin-left: 19%
	+r(410)
		margin-left: 33%
		margin-top: 11px
	.lang__item
		margin-left: 4px
		vertical-align: top
		display: inline-block
		+first
	a
		width: 30px
		height: 30px
		line-height: 30px
		text-align: center
		font-size: 14px
		border-radius: 50%
		display: block
		&:hover,
		&.is-active
			font-weight: 700
			background: #90c73e
			text-decoration: none
		+r(410)
			height: 25px
			width: 25px
			line-height: 25px
			font-size: 12px

// commodity
.commodity
	position: relative
	padding: 19px
	width: 287px
	font-size: 13px
	+box-shadow(0 5px 5px rgba(0, 0, 0, 0.16))
	background: #fff
	+box
	&:before
		position: absolute
		content: ''
		top: -6px
		left: 67px
		+arr(16,8,#fff,t)
	&.commodity_disabled
		.commodity__title,
		.commodity__text,
		.commodity__option
			color: #929292
	.commodity__title
		color: #0f98f2
		font-size: 30px
		line-height: 1
		font-weight: 600
		display: block
	.commodity__text
		margin: 4px 0
		color: #000
		font-weight: 600
	.commodity__option
		margin-right: 7px
		color: #0f98f2
		font-weight: 400
		font-size: 13px
		&:hover
			text-decoration: underline
	.commodity__inf
		padding: 0 22px
		height: 28px
		color: #fff
		font-size: 17px
		font-weight: 400
		line-height: 28px
		background-color: #90c73e
		vertical-align: top
		display: inline-block
	.commodity__row
		margin-top: 10px
	.btn
		float: none

// slider
.slider
	color: #fff
	.slider__slide
		height: 629px
		width: 100%
		+box
		+r(991)
			height: 329px
		+r(767)
			height: 280px
		&.slider__slide_1
			background: url(../img/slide-1.png) no-repeat 50% 50%
			background-size: cover
		&.slider__slide_2
			background: url(http://lorempixel.com/1280/629/people) no-repeat 50% 50%
			background-size: cover
		&.slider__slide_3
			background: url(http://lorempixel.com/1280/629/food) no-repeat 50% 50%
			background-size: cover
		&.slider__slide_4
			background: url(http://lorempixel.com/1280/629/sports) no-repeat 50% 50%
			background-size: cover
		&.slider__slide_5
			background: url(http://lorempixel.com/1280/629/nature) no-repeat 50% 50%
			background-size: cover
		&.slider__slide_6
			background: url(http://lorempixel.com/1280/629/people) no-repeat 50% 50%
			background-size: cover
		&.slider__slide_7
			background: url(http://lorempixel.com/1280/629/sports) no-repeat 50% 50%
			background-size: cover
	.slider__wrap
		position: relative
		margin: 0 auto
		max-width: 1280px
		height: 100%
	.slider__in
		position: absolute
		width: 620px
		bottom: 0
		right: 0
		padding-bottom: 90px
		font-size: 33px
		+r(991)
			font-size: 20px
		+r(767)
			padding: 0 10px 90px
			width: 100%
			text-align: center
	.slider__title
		font-size: 50px
		font-weight: 700
		text-transform: uppercase
		+r(991)
			font-size: 30px
		+r(767)
			font-size: 20px
	.slider__text
		width: 480px
		+r(767)
			width: 100%
	.slider__nav
		position: absolute
		left: 0
		bottom: 13px
		right: 0
		z-index: 2
		text-align: center
		font-size: 20px
		+rob
		.slick-dots,
		.slider__nav-text
			position: relative
			vertical-align: top
			display: inline-block !important
	.slider__nav-text
		margin-right: 5px
		+r(767)
			font-size: 0
	.slick-dots
		button
			height: 30px
			width: 30px
			font-size: 20px
			background: none
			+rob
			+transition(all .1s linear)
			+box
		li
			margin-right: 2px
			&:hover,
			&.slick-active
				button
					background: #90c73e

// video
.video
	position: relative
	height: 582px
	&.video_small
		height: 327px
		.picture
			&:before
				bottom: 50%
				+translate(-50%,50%)
				+s(ico-play-small)
	+r(767)
		height: 352px

// picture
.picture
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	color: #fff
	font-size: 19px
	cursor: pointer
	background: url('../img/video-pic.png') no-repeat 50% 50%
	background-size: cover
	&:hover
		&:before
			+opacity(.9)
	&:before
		position: absolute
		content: ''
		left: 50%
		bottom: 60px
		+translate(-50%,0)
		+transition(all .1s linear)
		+s(ico-play)
		+r(767)
			bottom: 30px
			+sr(ico-play)
		+r(600)
			bottom: 20px
	+r(767)
		font-size: 13px
	.title
		+r(767)
			margin-bottom: 10px
	.picture__in
		margin: 30px auto 0
		text-align: center
		max-width: 1045px
		+box
		+r(767)
			margin-top: 15px
			padding: 0 10px
	.picture__title
		margin-top: 65px
		font-size: 40px
		font-weight: 300
		+r(1219)
			margin-top: 20px
		+r(768)
			font-size: 30px
		+r(459)
			font-size: 26px

// devel
.devel
	padding: 40px 0 30px
	text-align: center
	font-size: 20px
	font-weight: 300
	line-height: 28px
	+r(768)
		font-size: 14px

// tab
.tab
	position: relative
	margin-top: 25px
	&.tab_mod
		.tab__cont
			padding-top: 0
			+r(991)
				padding: 0 10px
		.tab__in
			margin: 0 auto
			padding: 35px 0 60px
			max-width: 796px
	.tab__topic
		padding-top: 24px
		height: 157px
		+user-select(none)
		background: url(../img/tab-nav-bg.png) repeat-x 0 0
		+r(459)
			padding-top: 5px
	.tab__top
		margin: 0 auto
		max-width: 888px
		+r(991)
			padding: 0 10px
	.tab__point
		display: block
		height: 10px
		&:first-child
			margin-bottom: 17px
			text-align: center
			&.is-active
				.tab__link
					&:before
						width: 41px
						height: 110px
		&:nth-child(3)
			margin-top: -18px
			margin-bottom: 25px
			text-align: right
		&:nth-child(4)
			padding-right: 220px
			text-align: right
			&.is-active
				.tab__link
					&:before
						width: 30px
						height: 68px
			+r(991)
				padding-right: 120px
		&:last-child
			padding-left: 220px
			+r(640)
				padding-left: 100px
			&.is-active
				.tab__link
					&:before
						height: 60px
						width: 28px
		&:nth-child(3),
		&:nth-child(5)
			&.is-active
				.tab__link
					&:before
						+rotate(180)
		&.is-active
			.tab__link
				color: #0e7ac0
				font-weight: 700
				border: none
				&:before
					visibility: visible
					+opacity(1)
					z-index: 1
					height: 95px
					+r(459)
						display: none
		+r(459)
			margin: 0
			padding: 0
			height: auto
			text-align: center
			&:first-child,
			&:nth-child(3),
			&:nth-child(4),
			&:last-child
				margin: 0
				padding: 0
				height: auto
				text-align: center
		.tab__link
			color: #0f98f2
			font-weight: 400
			font-size: 28px
			line-height: 32px
			border-bottom: 1px dotted #0f98f2
			display: inline-block
			+transition(all .15s linear)
			&:hover,
			&:active,
			&:focus
				text-decoration: none
				border-color: transparent
			&:before
				position: absolute
				content: ''
				left: 50%
				top: 100%
				+translate(-50%, 4px)
				background: url(../img/tab-link-active.png) no-repeat 0 0
				visibility: hidden
				+opacity(0)
				z-index: -1
				width: 36px
				height: 0
				background-size: 100% 100%
				+transition(height .15s linear)
			+r(991)
				font-size: 24px
			+r(520)
				font-size: 18px
			+r(459)
				font-size: 18px
				line-height: 28px
	.tab__list
		position: absolute
		left: 400px
		top: 21px
		font-size: 0
		+r(1219)
			top: 0
		+r(991)
			left: 0
		+r(767)
			position: relative
			text-align: center
			width: 100%
	.tab__item
		margin-left: 12px
		display: inline-block
		vertical-align: top
		+first
		+box
		&:hover,
		&.is-active
			.tab__link
				+translate(0,-10px)
				.tab__shad
					opacity: 1
					width: 90%
			.tab__link_4
				+s(ico-tab-4-ac)
				+r(768)
					+sr(ico-tab-4-ac)
		&:hover
			+r(r1219)
				+translate(0,0)
		+r(1219)
			margin: 0 40px 15px 0
			&:first-child
				margin: 0 40px 15px 0
		+r(767)
			margin-right: 15px
			&:first-child
				margin-right: 15px
	.tab__link
		position: relative
		display: block
		+transition(all .12s linear)
		+box
		.tab__shad
			position: absolute
			content: ''
			bottom: -13px
			left: 50%
			height: 10px
			width: 0
			pointer-events: none
			z-index: -1
			opacity: 0
			+translate(-50%,0)
			+background(radial-gradient(ellipse at center, rgba(#0f98f2, 0.35) 0%, rgba(#0f98f2, 0) 80%))
			+transition(all .12s linear)
		&.tab__link_1
			+s(ico-tab-1)
			+r(768)
				+sr(ico-tab-1)
		&.tab__link_2
			+s(ico-tab-2)
			+r(768)
				+sr(ico-tab-2)
		&.tab__link_3
			+s(ico-tab-3)
			+r(768)
				+sr(ico-tab-3)
		&.tab__link_4
			+s(ico-tab-4-ac)
			+r(768)
				+sr(ico-tab-4-ac)
		&.tab__link_5
			+s(ico-tab-5)
			+r(768)
				+sr(ico-tab-5)
		&.tab__link_6
			+s(ico-tab-6)
			+r(768)
				+sr(ico-tab-6)
		&.tab__link_7
			+s(ico-tab-7)
			+r(768)
				+sr(ico-tab-7)
		&.tab__link_8
			+s(ico-tab-8)
			+r(768)
				+sr(ico-tab-8)
		&.tab__link_9
			+s(ico-tab-9)
			+r(768)
				+sr(ico-tab-9)
		&.tab__link_10
			+s(ico-tab-10)
			+r(768)
				+sr(ico-tab-10)
	.tab__cont
		padding-top: 130px
		text-align: left
		font-size: 17px
		font-weight: 300
		line-height: 24px
		display: none
		+clr
		+r(1219)
			padding-top: 160px
		+r(991)
			padding-left: 0
			font-size: 15px
		+r(767)
			padding-top: 0
			font-size: 14px
	.tab__img
		float: left
		width: 400px
		margin-top: -140px
		+r(991)
			display: none
	.tab__text
		overflow: hidden
	.tab__title
		margin-bottom: 22px
		font-size: 38px
		font-weight: 300
		line-height: 1
		+r(991)
			text-align: center
		+r(767)
			font-size: 30px
	.tab__row
		font-size: 0
		+clr
	.tab__col
		width: 50%
		font-size: 17px
		vertical-align: top
		display: inline-block
		+box
		&:first-child
			padding-right: 70px
			+r(767)
				padding-right: 0
		+r(767)
			padding: 0
			font-size: 14px
			width: 100%
	.tags
		float: left
		margin-top: 20px
	.btn.btn_black
		margin-top: 20px
		float: right

// info
.info
	margin: 35px 0
	+clr
	.col-md-6
		+r(767)
			margin-top: 10px
			+first

// news
.news
	padding: 19px 0 30px
	color: #fff
	background: url(../img/news-bg.png) no-repeat 50% 50%
	background-size: cover
	+r(767)
		p
			margin-bottom: 20px
	.row
		&:first-child
			.btn
				margin-left: 15px
				+r(767)
					margin-left: 10px
		.title-small
			margin-bottom: 33px
			+r(991)
				margin: 15px 0
				text-align: center
	img
		margin-top: 6px
		+r(767)
			margin: 6px auto
	.date
		margin-top: 20px
		+first

// partners
.partners
	padding: 35px 0
	text-align: center
	.title-small,
	.title-middle
		margin-bottom: 25px
	.partners__list
		width: 100%
		display: table
		+r(1219)
			display: block
	.partners__item
		height: 80px
		min-width: 0px
		line-height: 60px
		display: table-cell
	.ico
		position: relative
		vertical-align: middle
		&:hover
			+transform(scale(1.05))
		&.ico_part-7
			bottom: -8px
// way
.way
	padding: 50px 0 20px
	text-align: center

// leadership
.leadership
	padding: 40px 0 60px
	color: #fff
	background: url(../img/leadership-bg.png) no-repeat 50% 0
	background-size: cover
	+r(480)
		padding-bottom: 40px
	.leadership__in
		margin: 0 auto
		width: 980px
		+r(1219)
			padding-left: 5px
			width: 960px
			overflow: hidden
		+r(991)
			width: 720px
		+r(768)
			padding: 0 10px
			width: 100%
	.leadership__row
		margin-top: 28px
		font-size: 0
	.title-green
		margin-bottom: 25px
	.title-middle
		margin-bottom: 40px

// worker
.worker
	padding-right: 20px
	width: 20%
	font-size: 13px
	font-weight: 300
	vertical-align: top
	display: inline-block
	+box
	+first
	+r(768)
		text-align: center
	.worker__img
		margin-bottom: 18px
		img
			display: block
			width: 100%
	.worker__name
		margin-bottom: 5px
		font-size: 15px
		font-weight: 700

.workers
	+clr
	+r(1219)
		margin-right: -10px
	.worker
		float: left
		display: block

// dis-center
.dis-center
	text-align: center
	padding: 65px 0 76px
	+r(992)
		padding: 35px 0 40px
	+r(459)
		padding-bottom: 0

// gall
.gall
	margin-top: 25px
	padding-bottom: 27px
	overflow: hidden
	height: 234px
	+r(1219)
		height: auto
	+r(380)
		padding-bottom: 40px
	.gall__slide
		float: left
		+r(1219)
			padding-left: 10px
	.slick-dots
		+r(380)
			padding: 0 10px
		button
			font-size: 0
			width: 12px
			height: 12px
			background-color: #0f98f2
		li
			margin-left: 8px
			+first
			&.slick-active
				button
					background-color: #90c73e

// offer
.offer
	padding: 58px 0 69px
	font-size: 20px
	color: #fff
	border: 5px solid #75b725
	background: url(../img/offer-bg.png) no-repeat 50% 50%
	background-size: cover
	+r(459)
		display: none
	.offer__in
		margin: 0 auto
		max-width: 980px
		+r(1219)
			max-width: 960px
			padding: 0 10px
		+r(992)
			max-width: 720px
	.offer__title
		font-size: 33px
		font-weight: 300
	.btn
		margin-top: 26px

// investors
.investors
	padding: 53px 0 18px
	line-height: 1.8
	.title-middle
		margin-bottom: 64px
		+r(1219)
			margin-bottom: 20px
	.col-md-6
		+r(767)
			margin-top: 20px
			text-align: center
	img,
	.ico
		position: relative
		margin-bottom: 35px
		display: block
		&.ico_inv-1
			margin-top: -9px
		+r(767)
			margin-left: auto
			margin-right: auto
			margin-bottom: 15px
	p
		padding-right: 75px
		+r(767)
			padding: 0

// actions
.actions
	padding: 53px 0
	&.actions_mod
		padding: 10px 0 50px
	+r(1219)
		padding: 40px 0
	+r(991)
		padding: 20px
	.title-middle
		margin-bottom: 35px
		.btn
			position: relative
			margin-left: 5px
			bottom: -2px
	.col-md-3
		+r(991)
			margin-bottom: 20px

// action
.action
	color: #000
	img,
	.ico
		float: left
		margin: 4px 28px 0 0
	.action__right
		overflow: hidden
	.date
		margin-bottom: 5px
		color: #000

// processor
.processor
	.processor__row
		margin-top: 50px
		+r(991)
			margin-top: 20px
		.title-middle
			text-align: left
			+r(767)
				margin-bottom: 0
				text-align: center
		.img_bord
			margin-bottom: 42px
	.title-middle
		margin: 40px 0 25px
		text-align: left
		+r(991)
			margin-top: 20px
		+r(767)
			text-align: center
	.processor__text
		font-size: 24px
		text-align: center
		line-height: 32px
		+r(767)
			font-size: 17px
			line-height: 1.2
	.processor__in
		padding: 20px 18px
		border: 2px solid #90c73e
		+border-radius(17px)
		+box
	.processor__left
		+r(767)
			display: none
	.list
		margin-bottom: 30px
		+r(767)
			margin: 25px 0 0
	.icons
		margin-top: 12px
	img
		+r(1219)
			width: 100%
	.text-smbold
		+r(767)
			margin-top: 20px
			text-align: center
	.processor__right
		+r(768)
			text-align: center
		.list li
			+r(768)
				margin-left: 6px
				display: inline-block
				+first

// icons
.icons
	font-size: 0
	.ico
		margin-left: 14px
		+first

// application
.application
	+clr
	+r(991)
		text-align: center
		font-size: 0
	+r(767)
		display: none
	.title-middle
		margin-bottom: 40px
	.application__item
		float: left
		padding: 0 35px
		min-height: 155px
		width: 20%
		font-size: 15px
		text-align: center
		+box
		+r(991)
			float: none
			width: 25%
			vertical-align: top
			display: inline-block
		+r(767)
			width: 33.3%
	.ico
		margin-bottom: 5px

// flowcharts
.flowcharts
	+r(767)
		display: none

// advantages
.advantages
	margin-top: 35px
	padding: 50px 0
	color: #fff
	background: url(../img/advantages-bg.png) no-repeat 50% 50%
	background-size: cover
	.row
		margin-top: 34px
		&:first-child
			margin-top: 0
	.title-small
		font-weight: 600
		line-height: 26px

// compare
.compare
	position: relative
	margin-top: 35px
	overflow: hidden
	text-align: center
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		bottom: 60px
		width: 20px
		z-index: 1
		+box-shadow(inset 15px 0 20px #fff)
	&:after
		position: absolute
		content: ''
		top: 0
		right: 0
		bottom: 60px
		width: 20px
		z-index: 1
		+box-shadow(inset -15px 0 20px #fff)
	strong
		font-size: 20px
	.compare__pane
		height: 680px
		overflow: visible !important
		font-size: 0
		+r(1219)
			height: auto
	.processor
		position: relative
		margin-left: 20px
		width: 379px
		text-align: left
		white-space: normal
		font-size: 17px
		vertical-align: top
		display: inline-block
		+first
		+r(767)
			font-size: 15px
		+r(460)
			width: 280px
			font-size: 14px
	.title-middle
		margin-top: 0
		padding-left: 20px
	.compare__in
		padding: 10px 20px 98px
		white-space: nowrap
		+box
		+r(1219)
			padding-bottom: 88px
	.jspDrag
		background: none
		&:before
			position: absolute
			content: ''
			top: 50%
			left: 50%
			+translate(-50%,-50%)
			+s(ico-drag)
	.jspContainer
		overflow: visible
	.jspHorizontalBar
		left: 50%
		height: 26px
		bottom: 31px
		+translate(-50%,0)
		width: auto
		background: none
		.jspTrack
			margin-top: 10px
			height: 7px
			background: #0f98f2
			&:before
				position: absolute
				content: ''
				top: 0
				left: -9px
				right: -9px
				bottom: 0
				+border-radius(2px)
				background: #0f98f2
		.jspCap
			height: 100%
			display: block
		.jspArrow
			position: relative
			z-index: 2
		.jspArrowLeft
			+s(arr-pane-left)
		.jspArrowRight
			+s(arr-pane-right)

// catalog
.catalog
	margin-top: 45px
	+r(459)
		margin-top: 25px
	.title-middle
		margin-bottom: 25px
	.catalog__topic
		overflow: hidden
	.catalog__list
		margin-right: -0.5%
		margin-bottom: 30px
		font-size: 0
		text-align: center
	.catalog__item
		margin: 0.5% 0.5% 0 0
		width: 19.5%
		font-size: 15px
		vertical-align: top
		display: inline-block
		+r(1219)
			width: 24.5%
		+r(991)
			width: 32.7%
		+r(737)
			width: 49.5%
		+r(459)
			width: 95.5%
		a
			padding: 19px 16px 10px
			color: #0f98f2
			cursor: pointer
			border: 3px solid transparent
			+border-radius(18px)
			display: block
			+box
			&:hover
				text-decoration: none
		&.is-active,
		&:hover
			a
				color: #000
				border-color: #90c73e
	.catalog__field
		margin-bottom: 60px
		display: none
	.ico
		margin-bottom: 8px
		+r(737)
			display: none

// product
.product
	margin-bottom: 60px
	color: #fff
	background: url(../img/product-bg.png) no-repeat 50% 50%
	background-size: cover
	+clr
	+r(767)
		text-align: center
	p
		margin-top: 20px
	.product__left
		float: left
		padding: 50px 0 0 15px
		width: 310px
		+r(1219)
			width: 100%
			padding-top: 20px
	.product__title
		margin-bottom: 30px
		font-size: 66px
		font-weight: 600
		+r(1219)
			font-size: 55px
			text-align: center
		+r(991)
			font-size: 40px
	.product__text
		padding-right: 85px
		+r(1219)
			padding-right: 0
	.product__right
		float: right
		margin-left: 10px
		width: 380px
		+r(1219)
			margin: 20px 0 0
			width: 100%
	.goods
		+first
		+r(1219)
			padding-right: 20px

// goods
.goods
	margin-top: 10px
	padding: 20px 85px 20px 20px
	color: #fff
	line-height: 1.8
	+box
	&.is-green
		background: #90c73e
	&.is-dark-green
		background: #5b9f8f
	&.is-black
		background: rgba(#000, .5)
	.goods__title
		margin-bottom: 28px
		font-size: 39px
		line-height: 1.1
		font-weight: 400

// share
.share
	.share__text,
	.share__in
		vertical-align: top
		display: inline-block
	.share__text
		margin-right: 10px

// map
.map
	margin-bottom: 25px
	height: 400px
	+r(767)
		height: 200px

// popup
.popup
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	padding: 10px
	z-index: 150
	text-align: center
	overflow: auto
	background: rgba(#000, .5)
	display: none
	+vertical
	+box
	.popup__in
		position: relative
		padding: 10px 18px 15px
		width: 100%
		max-width: 337px
		z-index: 2
		text-align: left
		font-size: 15px
		vertical-align: middle
		background: #fff
		display: inline-block
	.popup__close
		position: absolute
		top: 15px
		right: 15px
		+s(popup-close)
		&:hover
			+s(popup-close-hov)
	.title-small
		margin-bottom: 0
	.form
		.form__imp
			margin-top: 2px
			font-size: 13px
			max-width: 180px
			+r(1219)
				font-size: 13px
		.form__row
			&:last-child
				text-align: center
	.form__text
		font-style: italic
		font-size: 13px

// error-inf
.error-inf
	margin-top: 25px
	font-size: 20px
	font-weight: 300
	line-height: 1.4
	.error-inf__row
		margin-top: 12px
		+first
	.search
		margin-top: 8px

// form
.form
	&.is-disabled
		.btn
			display: none
	.form__row
		margin-top: 15px
	.form__text
		font-size: 20px
		text-align: center
	.form__inf
		margin-top: 22px
	.form__imp
		margin: 8px 0 0 30px
		vertical-align: top
		display: inline-block
	.radiobutton
		margin: 4px 18px 0 0
	label
		font-weight: 300

input.error
	border-color: red

input.error + label.error
	display: none !important

.error-text
	color: #ED1B24
	font-size: 17px
	font-weight: 600
	text-align: center
	display: none
	&.is-submit
		color: #4BBE59

// input
.input,
.textarea
	padding: 0 15px
	height: 39px
	width: 100%
	border: 2px solid #000
	+border-radius(39px)
	+box
	+placeholder-color(#adadad)
	&:focus
		+placeholder
			font-size: 0
	input[type="search"]
		font-style: italic
.textarea
	padding: 10px 15px
	height: 139px
	resize: none
	+border-radius(18px)

// label
.label
	margin-bottom: 10px
	padding: 0
	color: #000	
	font-size: 15px
	text-align: left
	font-weight: 300
	display: block

// select
.select
	width: 100%
.chosen-container
	width: 100% !important
	&.chosen-with-drop
		&:before
			+rotate(180)
	&:before
		position: absolute
		content: ''
		right: 16px
		top: 50%
		margin-top: -3px
		z-index: 1
		+arr(11,6,#000,b)
	a
		+transition(border .1s linear)

// radiobutton
.radiobutton
	position: relative
	font-size: 15px
	font-weight: 300
	cursor: pointer
	+user-select(none)
	input
		position: absolute
		top: 3px
		left: 0
		height: 19px
		width: 19px
		margin: 0
		z-index: 5
		+opacity(0)
		&:checked
			& + span
				&:after
					display: block
	span
		position: relative
		padding-left: 26px
		&:before
			position: absolute
			content: ''
			top: 3px
			left: 0
			height: 19px
			width: 19px
			border: 2px solid #000
			+border-radius(50%)
		&:after
			position: absolute
			content: ''
			top: 7px
			left: 4px
			height: 11px
			width: 11px
			background: #90c73e
			+border-radius(50%)
			display: none

.checkbox
	position: relative
	font-size: 15px
	font-weight: 300
	cursor: pointer
	+user-select(none)
	input
		position: absolute
		top: 1px
		left: 0
		height: 19px
		width: 19px
		margin: 0
		z-index: 5
		+opacity(0)
		&:checked
			& + .checkbox__text
				&:after
					display: block
	.checkbox__text
		position: relative
		padding-left: 24px
		&:before
			position: absolute
			content: ''
			top: 1px
			left: 0
			height: 19px
			width: 19px
			border: 2px solid #000
		&:after
			position: absolute
			content: ''
			top: 5px
			left: 3px
			+s(arr-checked)
			display: none

.radiobutton,
.checkbox
	input
		&:disabled
			& + .checkbox__text,
			& + span
				color: #A9A9A9
				.blue
					color: #A9A9A9
				&:before
					border-color: #A9A9A9
				&:after
					+opacity(.4)


// prev
.prev,
.next
	margin: 35px 0 45px
	+r(767)
		margin: 25px 0 35
	a
		font-size: 20px
		font-weight: 700
		+r(767)
			font-size: 18px
	span
		font-size: 37px
		font-weight: 400
		line-height: 20px
		vertical-align: top
		display: inline-block
.next
	span
		margin-left: 5px

// field
.field
	margin-top: 35px
	+r(991)
		margin-top: 25px

// date
.date
	font-weight: 600
	display: block

// text-smbold
.text-smbold
	font-weight: 600

// 
.day-inf
	position: absolute
	left: 10px
	right: 10px
	padding: 10px
	z-index: 50
	border: 2px solid #90c73e
	background: #fff
	display: none
	+box
	&.is-chow
		display: block

// list
.list
	margin-top: 2px
	&.blue
		li
			color: #0f98f2
			&:before
				background: #0f98f2
			a
				color: #0f98f2
	&.list_green
		li
			&:before
				top: 8px
				background: #7ac814
	li
		margin-top: 5px
		position: relative
		padding-left: 9px
		line-height: 1.4
		+first
		&:before
			position: absolute
			content: ''
			left: 0
			top: 10px
			height: 2px
			width: 2px
			background: #000
			+border-radius(50%)
// tags
.tags
	.tags__text
		margin-right: 5px
		color: #000
		font-size: 20px
		font-weight: 600
		line-height: 24px
		vertical-align: top
		display: inline-block

// tag
.tag
	margin-right: 10px
	color: #0f98f2
	font-size: 15px
	font-weight: 400
	line-height: 26px
	vertical-align: top
	display: inline-block

// contacts
.contacts
	.contacts__row
		margin-top: 10px
		+first
		+r(991)
			margin-top: 0
		&.contacts__row_mod
			+r(1219)
				white-space: nowrap
				.contacts__col
					margin: 0 20px 0 0
					display: inline-block
	.contacts__col
		margin-left: 8px
		vertical-align: top
		font-weight: 600
		font-size: 13px
		display: inline-block
		+first
		+r(1219)
			margin: 5px 0 0
			display: block
		+r(991)
			margin: 0 0 0 10px
			display: inline-block
		+r(767)
			font-size: 0
		+r(460)
			margin: 0

// copy, creator
.creator,
.copy
	font-weight: 300

// soc
.soc
	font-size: 0
	.soc__item
		margin-left: 9px
		vertical-align: top
		display: inline-block
		+first

// address
.address
	padding-right: 27px
	font-size: 11px
	line-height: 1.2

// footer
.footer
	position: relative
	margin-top: -94px
	padding-top: 20px
	height: 94px
	color: #fff
	z-index: 1
	+background-image(linear-gradient(left, #8ec63f 30%, #439dbc 100%))
	+box
	+clr
	+r(1219)
		margin-top: 0
		padding-bottom: 15px
		height: auto
	+r(767)
		padding-bottom: 10px
	.contacts,
	.soc,
	.address
		vertical-align: top
		display: inline-block
	.contacts
		width: 670px
		+r(1219)
			margin: 0
			padding-left: 10px
			width: 33%
			&:first-child
				padding-left: 0
		+r(991)
			width: 100%
		+r(767)
			float: right
			width: auto
		+r(460)
			width: 100%
			text-align: center
		.btn
			top: -4px
			+r(1219)
				top: 0
			+r(991)
				top: -4px
			+r(767)
				top: 5px
	.soc
		margin-left: 20px
		width: 178px
		+r(1219)
			margin: 0
			padding-left: 10px
			width: 33%
			&:first-child
				padding-left: 0
		+r(991)
			margin: 8px 0 0
			width: 49%
		+r(767)
			margin: 0
		+r(460)
			width: 100%
			text-align: center
	.address
		margin-left: 20px
		max-width: 280px
		+r(1219)
			margin: 0
			padding-left: 10px
			width: 33%
			&:first-child
				padding-left: 0
		+r(991)
			position: relative
			top: -18px
			width: 49%
		+r(767)
			display: none
		.dotted
			margin-top: 5px

// overlay
.overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 100
	background: rgba(#000, .7)
	display: none
































































































